<a href="https://colab.research.google.com/github/Diksha57-git/Pythonprograms/blob/main/Basics.ipynb" target="_blank"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open this notebook in Colaboratory"/></a>

######**Author: Diksha Tanwar**
######Date: 7-02-26
######Enroll Num: 250242
######Course: BCA
######Course Code: 23.136

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
a = 15
b = 12

# Adding two numbers
c = a + b
print(c)

27

In [4]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("num is Even")
else:
   print("num is Odd")

Enter a number: 5
num is Odd

In [6]:
first_name = "John"
last_name = "Doe"

# Concatenation
full_name = first_name + " " + last_name
print(full_name)

# Length of the string
length = len(full_name)
print(f"Length of full name: {length}") # f-string formatting

John Doe
Length of full name: 8

In [7]:
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

Enter your age: 56
You are eligible to vote.

In [8]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [9]:
word = "Python"
for character in word:
    print(character)

P
y
t
h
o
n